{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        Ervin - Estimating Hub
	</title>
    <link rel="stylesheet" type="text/css" href="{% static 'esteem/esteem.css' %}"/>
    {% if user.get_custom_colorscheme %}<link rel="stylesheet" type="text/css" href="{% static 'esteem/esteem_'|add:user.get_custom_colorscheme|add:'.css' %}"/>{% endif %}
</head>
<body>
{% include './_app_menu.html' %}
<div id="div_appHeader" class="appHeader">
    <div id="div_appTitle" class="appTitle"{% if user.get_custom_header_image %} style="background-image:url({{ user.get_custom_header_image.url }})"{% endif %}>
            <h1>
              {% if user.get_custom_page_title %}
                {{ user.get_custom_page_title }}
              {% else %}
                Ervin - Estimating Hub
              {% endif %}
            </h1>
            <p>
              {% if user.get_custom_page_subtitle %}
                {{ user.get_custom_page_subtitle }}
              {% else %}
                Welcome to the Ervin Architectural Products Estimating Hub
              {% endif %}
            </p>
        </div>
    <div id="div_appLogo" class="appLogo">
        {% comment %} {% if user.salesperson_set.first.associated_customer.custom_logo %} {% endcomment %}
        {% if user.get_custom_logo %}
          <img class="appLogo" src="{{ user.get_custom_logo.url }}"/>
        {% else %}
            <img class="appLogo" src="{% static 'esteem/ervin_badge.png' %}"/>
        {% endif %}
    </div>
</div>
{% block objectmenu %}
{% endblock %}
{% block objectheader %}
{% endblock %}
{% block content %}
{% endblock %}
{% block javascript %}
{% endblock %}
{% comment %}
# vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
</body>
</html>
