<div class='detailTabularRow'>
    <div class="detailFieldLabelTab">
        {{ label }}
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ field1 }} 
        </div>
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ field2 }} 
        </div>
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ field3 }} 
        </div>
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ field4 }} 
        </div>
    </div>
</div>

{% comment %}
# vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
