<div class='detailTabularRow'>
    <div class="detailFieldLabelTab">
        {{ label }}&nbsp;
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ label1 }} 
        </div>
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ label2 }} 
        </div>
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ label3 }} 
        </div>
    </div>
    <div class="detailFieldWidgetTab">
        <div class="detailFieldWidgetTabWidget">
            {{ label4 }} 
        </div>
    </div>
</div>

{% comment %}
# vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
