{% if not fields > 0 %}
    <div class="detailFieldWrapper {{ wrapperclass }}" {{ wrapperattrs }}>
        <div class="detailFieldLabel">
            {{ label }}
        </div>
        <div class="detailFieldWidgetWrapper {{ widgetwrapperclass }}" {{ widgetwrapperattrs }}>
            <div class="detailFieldWidget">
                {% if link_to %}
                    <a href="{{ link_to }}">{{ field }}</a>
                {% else %}
                    {{ field }} 
                {% endif %}
            </div>
        </div>
    </div>
{% elif fields == 1 %}
    <div class="detailFieldWrapper {{ wrapperclass }}" {{ wrapperattrs }}>
        <div class="detailFieldLabel">
            {{ label }}
        </div>
        <div class="detailFieldWidgetWrapper {{ widgetwrapperclass }}" {{ widgetwrapperattrs }}>
            {% if label1 %}
                <div class="detailFieldWidgetLabel">
                    {{ label1 }}
                </div>
            {% endif %}
            <div class="detailFieldWidget">
                {% if link_to1 %}
                    <a href="{{ link_to1 }}">{{ field1 }}</a>
                {% else %}
                    {{ field1 }} 
                {% endif %}
            </div>
        </div>
    </div>
{% elif fields == 2 %}
    <div class="detailFieldWrapper {{ wrapperclass }}" {{ wrapperattrs }}>
        <div class="detailFieldLabel">
            {{ label }}
        </div>
        <div class="detailFieldWidgetWrapper {{ widgetwrapperclass }}" {{ widgetwrapperattrs }}>
            {% if label1 %}
                <div class="detailFieldWidgetLabel">
                    {{ label1 }}
                </div>
            {% endif %}
            <div class="detailFieldWidget">
                {% if link_to1 %}
                    <a href="{{ link_to1 }}">{{ field1 }}</a>
                {% else %}
                    {{ field1 }} 
                {% endif %}
            </div>
            {% if label2 %}
                <div class="detailFieldWidgetLabel">
                    {{ label2 }}
                </div>
            {% endif %}
            <div class="detailFieldWidget">
                {% if link_to2 %}
                    <a href="{{ link_to2 }}">{{ field2 }}</a>
                {% else %}
                    {{ field2 }} 
                {% endif %}
            </div>
        </div>
    </div>
{% elif fields == 3 %}
    <div class="detailFieldWrapper {{ wrapperclass }}" {{ wrapperattrs }}>
        <div class="detailFieldLabel">
            {{ label }}
        </div>
        <div class="detailFieldWidgetWrapper {{ widgetwrapperclass }}" {{ widgetwrapperattrs }}>
            {% if label1 %}
                <div class="detailFieldWidgetLabel">
                    {{ label1 }}
                </div>
            {% endif %}
            <div class="detailFieldWidget">
                {% if link_to1 %}
                    <a href="{{ link_to1 }}">{{ field1 }}</a>
                {% else %}
                    {{ field1 }} 
                {% endif %}
            </div>
            {% if label2 %}
                <div class="detailFieldWidgetLabel">
                    {{ label2 }}
                </div>
            {% endif %}
            <div class="detailFieldWidget">
                {% if link_to2 %}
                    <a href="{{ link_to2 }}">{{ field2 }}</a>
                {% else %}
                    {{ field2 }} 
                {% endif %}
            </div>
        </div>
        <div class="detailFieldWidgetWrapper {{ widgetwrapperclass }}" {{ widgetwrapperattrs }}>
            {% if label3 %}
                <div class="detailFieldWidgetLabel">
                    {{ label3 }}
                </div>
            {% endif %}
            <div class="detailFieldWidget">
                {% if link_to3 %}
                    <a href="{{ link_to3 }}">{{ field3 }}</a>
                {% else %}
                    {{ field3 }} 
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% comment %}
# vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
