<div class='formTabularRow'>
    <div class="formFieldLabelTab">
        {{ label }}&nbsp;
    </div>
    <div class="formFieldWidgetTab">
        <div class="formFieldWidgetTabWidget">
            {{ label1 }} 
        </div>
    </div>
    <div class="formFieldWidgetTab">
        <div class="formFieldWidgetTabWidget">
            {{ label2 }} 
        </div>
    </div>
    <div class="formFieldWidgetTab">
        <div class="formFieldWidgetTabWidget">
            {{ label3 }} 
        </div>
    </div>
    <div class="formFieldWidgetTab">
        <div class="formFieldWidgetTabWidget">
            {{ label4 }} 
        </div>
    </div>
</div>

{% comment %}
# vim: ai et sts=4 sw=4 ts=4
{% endcomment %}
