{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        Ervin - Estimating Hub
	</title>
    <link rel="stylesheet" type="text/css" href="{% static 'esteem/tougshire.css' %}"/>
</head>
<body>
<div id="div_appHeader" class="appHeader">
    <div id="div_appTitle" class="appTitle">
            <h1>Ervin - Estimating Hub</h1>
            <p>Welcome to the Ervin Architectural Products Estimating Hub</p>
        </div>
    <div id="div_appLogo" class="appLogo">
        <img class="appLogo" src="{% static 'esteem/ervin_badge.png' %}"/>
    </div>
</div>
{% block objectmenu %}
{% endblock %}
{% block objectheader %}
{% endblock %}
{% block content %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'addable/addable.js' %}"></script>
<script type="text/javascript">
	updateSelects( window, '{{ object.pk }}', '{{ object }}');
</script>
{% endblock %}
