{% extends 'esteem/_ajax.html' %}
{% block content %}
<form method="POST" id="form" enctype="multipart/form-data" >
{{ form.non_field_errors }}
{% csrf_token %}
{% include 'ervin/_form_field.html' with formfield=form.title %}
{% include 'ervin/_form_field.html' with formfield=form.uploadedfile %}
</form>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
  if("{{ success }}"){
    window.parent.updateSelects(window.frameElement, '{{ object.pk }}', '{{ object }}');
  }
</script>

{% endblock %}

