{% load static %}
<h2>Interior Millwork</h2>
<div class="formTabularRow">
	<div>{{ form.primaryspecies.label }}</div><div>{{ form.primaryspecies }}</div><div></div>
</div>	
	<h3>Interior Trim</h3>
<div class="formTabularRow">
	<div></div><div class="label">Base</div><div class="label">Casing</div><div class="label">Crown</div><div class="label">Comments</div>
</div>
<div class="formTabularRow">
	<div class="label">Type1:</div><div>{{ form.trim1baselength }}</div><div>{{ form.trim1casinglength }}</div><div>{{ form.trim1crownlength }}</div><div>{{ form.trim1comments }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Width/Size:</div><div>{{ form.trim1basewidthsize }}</div><div>{{ form.trim1casingwidthsize }}</div><div>{{ form.trim1crownwidthsize }}</div><div>{{ form.trim1comments }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Type2:</div><div>{{ form.trim2baselength }}</div><div>{{ form.trim2casinglength }}</div><div>{{ form.trim2crownlength }}</div><div>{{ form.trim2comments }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Width/Size:</div><div>{{ form.trim2basewidthsize }}</div><div>{{ form.trim2casingwidthsize }}</div><div>{{ form.trim2crownwidthsize }}</div><div>{{ form.trim2comments }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Type3:</div><div>{{ form.trim3baselength }}</div><div>{{ form.trim3casinglength }}</div><div>{{ form.trim3crownlength }}</div><div>{{ form.trim3comments }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Width/Size:</div><div>{{ form.trim3basewidthsize }}</div><div>{{ form.trim3casingwidthsize }}</div><div>{{ form.trim3crownwidthsize }}</div><div>{{ form.trim3comments }}</div>
</div>
<div class="formTabularRow">
	<div class="start4 label">Window Stool with Skirt</div><div class="start5">{{ form.windowstoolskirt }}</div>
</div>
<h3>Casing Details</h3>
<div class="formTabularRow">
	<div class="label">Picture Frame</div><div>{{ form.pictureframe }}</div>
</div>
<div class="formTabularRow">
	<div class="label">D/W Return</div><div>{{ form.dwreturn }}</div><div class="label">Interior Columns</div><div class="span2">{{ form.interiorcolumns }}</div>
</div>
<h3>Interior Doors</h3>
<div class="formTabularRow">
	<div class="label">Door Style</div><div>{{ form.doorstyle }}</div><div class="label">Hanging</div><div class="span2">{{ form.doorhanging }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Jamb Thickness</div><div>{{ form.jambthickness }}</div><div class="label">Specialty Doors</div><div class="span2">{{ form.specialtydoors }}</div>
</div>
<h3>Stairs</h3>
<div class="formTabularRow">
	<div></div><div class="label">Tread (Species)</div><div class="label">Riser</div><div class="label">Handrail (Style/Species)</div><div class="label">Picket/Newels (Style, Paint/Stain, Species)</div>
</div>
<div class="formTabularRow">
	<div class="label">Type 1</div><div >{{ form.stair1treadspecies }}</div><div >{{ form.stair1riserspecies }}</div><div >{{ form.stair1handrail }}</div><div >{{ form.stair1picketnewel }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Type 2</div><div >{{ form.stair2treadspecies }}</div><div >{{ form.stair2riserspecies }}</div><div >{{ form.stair2handrail }}</div><div >{{ form.stair2picketnewel }}</div>
</div>
<div class="formTabularRow">
	<div class="label">Type 3</div><div >{{ form.stair3treadspecies }}</div><div >{{ form.stair3riserspecies }}</div><div >{{ form.stair3handrail }}</div><div >{{ form.stair3picketnewel }}</div>
</div>
<h3>Specialty Areas</h3>
<div class="formTabularRow">
	<div class="start2 label">Wainscot</div><div class="span3">{{ form.wainscot }}</div>
</div>
<div class="formTabularRow">
	<div class="start2 label">Coffered Ceiling</div><div class="span3">{{ form.cofferedceiling }}</div>
</div>


