{% load static %}
<h2>ICF</h2>

{% include './_form_fields.html' with field=form.option0thickness  %}
{% include './_form_fields.html' with field=form.option1thickness  %}
{% include './_form_fields.html' with field=form.option2thickness  %}
{% include './_form_fields.html' with field=form.option3thickness  %}
{% include './_form_fields.html' with field=form.optionpargecoating  %}
{% include './_form_fields.html' with field=form.optionbgmembrane  %}
{% include './_form_fields.html' with field=form.optionslabinsulation  %}
{% include './_form_fields.html' with field=form.optionfloor  %}
{% include './_form_fields.html' with field=form.optionroof  %}
{% include './_form_fields.html' with field=form.comments  %}
