{% load static %}
<h2>Hardware</h2>
<div class="formTabularRow">
	<div>{{ form.entrysets.label }}</div><div>{{ form.entrysets }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.rosettecode.label }}</div><div>{{ form.rosettecode }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.backset.label }}</div><div>{{ form.backset }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.hardwarestyle.label }}</div><div>{{ form.hardwarestyle }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.doorthickness.label }}</div><div>{{ form.doorthickness }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.finish.label }}</div><div>{{ form.finish }}</div>
</div>	


