{% load static %}
<h2>Marvin Doors</h2>
 {% include './_form_fields.html' with field=form.new_or_replacement  %}
 {% include './_form_fields.html' with field=form.optionmarvindoorbrand %}
 {% include './_form_fields.html' with field=form.optionexterior_color %}
 {% include './_form_fields.html' with field=form.optioninterior_finish %}
 {% include './_form_fields.html' with field=form.optionhardware_style %}
 {% include './_form_fields.html' with field=form.optionhardware_finish %}
 {% include './_form_fields.html' with field=form.optionscreens %}
 {% include './_form_fields.html' with field=form.optionshades %}
 {% include './_form_fields.html' with field=form.optionlock_sensors %}
 {% include './_form_fields.html' with field=form.comments %}
