{% load static %}
<h2>Hardware</h2>
<div class="formTabularRow">
	<div>{{ form.entrysets.label }}</div><div>{{ form.entrysets }}</div><div>Entry Sets Comments</div><div>{{ form.entrysetscomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.electroniclocks.label }}</div><div>{{ form.electroniclocks }}</div><div>Electronic Locks Comments</div><div>{{ form.electroniclockscomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.deadbolts.label }}</div><div>{{ form.deadbolts }}</div><div>Deadnbolts Comments</div><div>{{ form.deadboltscomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.keyedknobs.label }}</div><div>{{ form.keyedknobs }}</div><div>Keyed Knobs Comments</div><div>{{ form.keyedknobscomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.knobs.label }}</div><div>{{ form.knobs }}</div><div>Knobs Comments</div><div>{{ form.knobscomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.slidingdoorhardware.label }}</div><div>{{ form.slidingdoorhardware }}</div><div>Sliding Door Hardware Comments</div><div>{{ form.slidingdoorhardwarecomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.barndoorhardware.label }}</div><div>{{ form.barndoorhardware }}</div><div>Barn Door Hardware Comments</div><div>{{ form.barndoorhardwarecomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.dooraccessories.label }}</div><div>{{ form.dooraccessories }}</div><div>Door Accessories Comments</div><div>{{ form.dooraccessoriescomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.electroniclocks.label }}</div><div>{{ form.electroniclocks }}</div><div>Electronic Logs Comments</div><div>{{ form.electroniclockscomments }}</div>
</div>	
<div class="formTabularRow">
	<div>{{ form.sideplatelocks.label }}</div><div>{{ form.sideplatelocks }}</div><div>Side Plate Locks Comments</div><div>{{ form.sideplatelockscomments }}</div>
</div>

