.right {
	text-align:right;
}

div.appHeader {
	display:grid;
	grid-template-columns:2fr 120px;
	padding:0 60px 0 10px;
	margin:.5ex 0 .5ex 0;
}

div.objectTitle {
	width:100%;
}

div.appLogo {
	height:100px;
	margin:0 auto;
}

div.appLogo img {
	height:100%;
}

div.objectTitle h2 {
	margin-top:0;
	margin-bottom:0;
}

div.menubar {
	display:grid;
	grid-auto-columns:1fr;
	width:100%;
}

div.menuitem {
	grid-column-start:auto;
	grid-row-start:1;
	text-align:center;
}

div.prevNext, div.pageLinks {
	display:grid;
	grid-auto-columns:1fr;
	width:100%;
	margin-bottom:1em;
}

div.prevNextItem, div.pageLinkItem {
	grid-column-start:auto;
	grid-row-start:1;
	text-align:center;
}

.at_page {
	font-weight:bold;
}

.at_page a {
	text-decoration:none;
}
/*
div.page {
	display:grid;
	grid-template-columns:repeat(12, 1fr);
}
div.page > div {
	grid-row:auto;
	grid-column: auto / span 6;a
}
div.page > div.sectionCore {
	grid-column: 2 / span 11;
}
*/

/*div.sectionCore div.formFieldWrapper,
div.sectionCore div.detailFieldWrapper {
	display:grid;
	grid-template-columns:1fr 4fr;
}

div.sectionCore div.form2FieldWrapper,
div.sectionCore div.detail2FieldWrapper {
	display:grid;
	grid-template-columns:1fr 2fr 2fr;
}
*/

div.formFieldWrapper,
div.detailFieldWrapper {
	display:grid;
	grid-template-columns:2fr 4fr 1fr;
}

div.formFieldWidgetWrapper,
div.detailFieldWidgetWrapper {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

div.pageTabular > div.sectionCore {
	grid-column: auto / span 1;
}

div.pageTabular > div.sectionCore {
	grid-column: auto / span 1;
}

div.page > div.sectionRequestnum {
	grid-column: 1 / span 4;
}

div.page > div.sectionProducts{
	grid-column: 2 / span 11;
}

div.subSection {
	margin-left:3em;
}


div.formTabularRow,
div.detailTabularRow,
div.listTabularRow {
	width:100%;
	display:grid;
	grid-auto-columns:1fr;
}

div.objectList div.listTabularRow{
	grid-template-columns:repeat(12,1fr);
}


div.sectionProducts div.formFieldWrapper,
div.sectionEstirquests div.detailFieldWrapper
{
	display:grid;
	grid-template-columns:1fr 4fr;
}

div.sectionExteriorMillwork div.formTabularRow,
div.sectionExteriorMillwork div.detailTabularRow {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-auto-flow:column;
}

div.sectionInteriorMillwork div.formTabularRow,
div.sectionInteriorMillwork div.detailTabularRow {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 2fr;
	grid-auto-flow:column;
}

div.formTabularRow > div,
div.detailTabularRow > div,
div.listTabularRow > div,
div.listTabularRow {
	grid-column: auto / span 1;
}

div.formTabularRow > div.start2,
div.detailTabularRow > div.start2,
div.listTabularRow > div.start2 {
	grid-column-start: 2;
}
div.formTabularRow > div.start3,
div.detailTabularRow > div.start3,
div.listTabularRow > div.start3 {
	grid-column-start: 3;
}
div.formTabularRow > div.start4,
div.detailTabularRow > div.start4,
div.listTabularRow > div.start4 {
	grid-column-start: 4;
}
div.formTabularRow > div.start5,
div.detailTabularRow > div.start5,
div.listTabularRow > div.start5 {
	grid-column-start: 5;
}

div.formTabularRow > div.span2,
div.detailTabularRow > div.span2,
div.listTabularRow > div.span2 {
	grid-column-end: span 2;
}

div.formTabularRow > div.span3,
div.detailTabularRow > div.span3,
div.listTabularRow > div.span3 {
	grid-column-end: span 3;
}

div.formTabularRow > div.span4,
div.detailTabularRow > div.span4,
div.listTabularRow > div.span4 {
	grid-column-end: span 4;
}


div.formTabularRow > div.label,
div.detailTabularRow > div.label{
	padding-left:1em;
}

div.formTabularRow > div.value,
div.detailTabularRow > div.value,
div.listTabularRow > div.value {
	padding-left:1em;
}

div.listTabularRow > div.cell {
	padding-right:1em;
}

div.indent1 {
	margin-left:3ch;
}

input.psuedodisabled {
	background-color:gray;
}

input[type=text], select, option,  textarea {
	width: 90%;
	padding: 2px 1px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* font */
html {
	font-size:75%;
	text-transform:uppercase;
}

body {
	font-family: Calibri, Arial, Segoe ;
}

div.formTabularRow > div.value,
div.detailTabularRow > div.value,
div.listTabularRow > div.value {
	font-size:1.25em;
}

div.listTabularRow > div.cell {
	font-size:1.2em;
}

input[type=text], select, option,  textarea {
	width: 90%;
	padding: 2px 1px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.detailFieldWidget {
	font-size:125%;
}

/* end font */

/* color */

div.appHeader {
	background-color:#08382e;
}

div.appTitle {
	color:white;
	background-color:#08382e;
	background-image: url(https://static.tougshire.com/ervin/esteem/ervin_worker.png);
	background-blend-mode:overlay;
	background-size: cover;
	background-position-x: left;
	background-repeat: no-repeat;
}

div.appLogo {
	background-color:white;
}


div.listTabularRow:nth-child(even){
	background-color:#cdfff0;
}

div.objectTitle {
	background-color:white;
	color:#08382e;
}


div.menubar, div.menubar a  {
	background-color:#08382e;
	color:white;
}



div.prevNext {
	background-color:white;
	color:#08382e;
}

div.prevNextItem {
	background-color:white;
}

div.prevNextItem {
	color:#08382e;
}

div.formTabularRow:nth-child(odd),
div.detailTabularRow:nth-child(even) {
	background-color:#ccffcc;
}

div.sample img {
    height:1.1em;
}

/* end color */

@media only screen and (min-width: 700px){
	html {
		font-size:1.1em;
	}
	div.appLogo {
		height:160px;
		margin:0 auto;
	}

	div.appLogo img {
		height:100%;
	}
}

